{% extends 'user/index.html' %}
{% load static %}
{% block content %}
<script type="text/javascript"> 
    window.history.forward(); 
    function noBack() { 
        window.history.forward(); 
    } 
  </script>
<form method="POST" enctype="multipart/form-data" action="viewprofile">
{% csrf_token %}
<table class="table table-bordered">
	<tr>	
		<th>Phone</th>
		<td><input type="text" name="mobile"  class="form-control" required pattern="[789][0-9]{9}" oninvalid="this.setCustomValidity('Enter the Mobile number')" oninput="this.setCustomValidity('')"/>
		</td>
	</tr>
	<tr>	
		<th>Address</th>
		<td><textarea name="address" class="form-control" required oninvalid="this.setCustomValidity('Enter the Address')" oninput="this.setCustomValidity('')"></textarea>
		</td>
	</tr> 
	<tr>
		<td colspan="2">
			<input type="submit" class="btn btn-primary" value="Update" name="add"/>
		</td>
	</tr>
</table> 
</form>
{% endblock %}






{% comment %} {% extends 'user/index.html' %}
{%block content%}
<style>
	.gradient-custom {
		/* fallback for old browsers */
		background: #f6d365;
		
		/* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
		
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
		}
		section.ss{
			width:200%;
			
		}

</style>
<section class="ss" style="background-color: #f4f5f7;">
	<div class="container py-5 h-100">
	  <div class="row d-flex  align-items-center">
		<div class="col col-lg-6 mb-4 mb-lg-0">
		  <div class="card mb-3" style="border-radius: .5rem;">
			<div class="row g-0">
			  <div class="col-md-4 gradient-custom text-center text-white"
				style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
				  alt="" class="img-fluid my-5" style="width: 80px;" />
				<h5></h5>
				<p></p>
				<i class="far fa-edit mb-5"></i>
			  </div>
			  <div class="col-md-8">
				<div class="card-body p-4">
				  <h6>Information</h6>
				  <hr class="mt-0 mb-4">
				  <div class="row pt-1">
					<div class="col-6 mb-3">
					  <h6>Email</h6>
					  <p class="text-muted"></p>
					</div>
					<div class="col-6 mb-3">
					  <h6>Phone</h6>
					  <p class="text-muted"></p>
					</div>
				  </div>
				  <h6>Address</h6>
				  <hr class="mt-0 mb-4">
				  <div class="row pt-1">
					<div class="col-6 mb-3">
					  <p class="text-muted"></p>
					</div>
					<div class="col-6 mb-3">
					  <h6></h6>
					  <p class="text-muted"></p>
					</div>
				  </div>
				  <div class="d-flex justify-content-start">
					<a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
					<a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
					<a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
{% endblock %} {% endcomment %}