{% extends 'user/index.html' %}
{%load static%}
{%block content%}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="py-20 h-screen bg-gray-300 px-2">
	<div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-md">
		<div class="md:flex">
			<div class="w-full p-3 px-6 py-10"> 
			</script>
			<html>
				<head>
					<script>
						function verifypassword(){
							var pw=document.getElementById("pswd").value;
							var pwd=document.getElementById("pswdd").value;
							if(pw == pwd){
								alert("Password is correct");  
								return true;
							}
							else{
								alert("Password is incorrect"); 
								return false;
							}
						}
					</script>
			  <div class="text-center">
				<span class="text-xl text-gray-700">Update Password</span>
			  </div>
			    
               <form   method="post" enctype="multipart/form-data" action="update" onsubmit="return verifypassword()" >
				{% csrf_token %}
			   <div class="mt-3 relative">
				<span class="absolute p-1 bottom-8 ml-2 bg-white text-gray-400 ">Password</span>
				<input type="text" class="h-12 px-2 w-full border-2 rounded focus:outline-none focus:border-red-600" name="npassword">
			   </div>

			   <div class="mt-4 relative">
				<span class="absolute p-1 bottom-8 ml-2 bg-white text-gray-400 ">Confirm Password</span>
				<input type="text" class="h-12 px-2 w-full border-2 rounded focus:outline-none focus:border-red-600" name="cp">
			   </div>

			   <div class="mt-4">
				<button class="h-12 w-full bg-red-600 text-white rounded hover:bg-red-700" name="update" >Click to proceed<i class="fa fa-long-arrow-right"></i></button>
			   </div>
			</form>


			</div>
		</div>
	</div>
</div>
{% endblock %}